In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
from sklearn.linear_model import LogisticRegression

In [5]:
from sklearn.metrics import accuracy_score

In [6]:
 df=pd.read_csv(r"C:\Users\DELL\Desktop\EMAIL SPAM CLASSIFIER\mail_data.csv")

In [7]:
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
#ham means not spam

In [9]:
df.isnull().sum()
#finding the null values in dataframe

Category    0
Message     0
dtype: int64

In [10]:
df.head()
#finding the top 5 values of the dataframe

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
df.tail()
#finding the last 5 values of the dataframe

     Category                                            Message
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

In [12]:
df.describe()
#describing the dataframe

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [13]:
df.info()
#finding the info of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [14]:
df.loc[df['Category']=="spam", "category",]=0
df.loc[df['Category']=="ham", "category",]=1

In [15]:
df

     Category                                            Message  category
0         ham  Go until jurong point, crazy.. Available only ...       1.0
1         ham                      Ok lar... Joking wif u oni...       1.0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...       0.0
3         ham  U dun say so early hor... U c already then say...       1.0
4         ham  Nah I don't think he goes to usf, he lives aro...       1.0
...       ...                                                ...       ...
5567     spam  This is the 2nd time we have tried 2 contact u...       0.0
5568      ham               Will ü b going to esplanade fr home?       1.0
5569      ham  Pity, * was in mood for that. So...any other s...       1.0
5570      ham  The guy did some bitching but I acted like i'd...       1.0
5571      ham                         Rofl. Its true to its name       1.0

[5572 rows x 3 columns]

In [16]:
X=df["Message"]
Y=df["Category"]

In [17]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [18]:
Y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: Category, Length: 5572, dtype: object

In [19]:
#dividing into training and testing data set

In [27]:
X_train,X_test, Y_test, Y_train=train_test_split(X,Y, test_size=0.2, random_state=3)
#0.2 means, testing=20 percent
#random state is a hyperparameter to get consistent result

In [28]:
feature_extraction=TfidfVectorizer(min_df=1, stop_words=True, lowercase="True")

In [31]:
X_train_features=feature_extraction.fit_transform(X_train)
X_test_features=feature_extraction.fit_transform(X_test)

TypeError: 'bool' object is not iterable